@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tema padrão */
:root {
  --background: #F9EEDC;
  --text: #38322E;
  --primary: #99C47C;
  --primary-light: #BFC47C;
  --primary-dark: #73915F;
  --secundary: #AB876E;
}

/* Quando criarmos as outras cores, colocar aqui:

[data-theme="light-02"] : root {}
[data-theme="dark-01"] : root {}
[data-theme="dark-02"] : root {}

*/

html,
body{
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Colocar nas páginas para englobar bonitinho e manter todas com esse padding*/
main {
  padding: 30px;
}

::selection{
  background-color: var(--primary-dark);
  color: var(--background);
}